@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?ebcbxo');
  src:  url('fonts/icomoon.eot?ebcbxo#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?ebcbxo') format('truetype'),
    url('fonts/icomoon.woff?ebcbxo') format('woff'),
    url('fonts/icomoon.svg?ebcbxo#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-pencil:before {
  content: "\e905";
}
.icon-happy:before {
  content: "\e9df";
}
.icon-cross:before {
  content: "\ea0f";
}
