*{
	margin: 0;
	padding: 0;
	box-sizing: 0;
}
:root {
	--alto-campos-texto-botones: 35px ;
	--ancho-campos-texto-botones: 60%;
	--border-campos-texto-botones:15px;
	--tamaño-letra:15px;
	--color-boton: blue;
	--color-letra-boton: white;
}

#root{
	height: 100vmax;
	width: 100%;
}
.register{
	background-image: url(IMG/Montanas-Rocosas-En-Canada-Lago-Louise-Y-Banff-f94e70f.webp);
	height: 100vmax;
	width: 100%;
	opacity: 0.9;
}
h1{
	margin-bottom: 10px;
	color: white;
}
.imageDescription{
	text-align: center;
}
.imgLogo{
	height: 200px;
    width: 200px;
}
#registerForm{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30p;
    height: auto;
}
.texField{
	margin: 10px;
    height: var(--alto-campos-texto-botones);
    width: var(--ancho-campos-texto-botones);
    border-radius: var(--border-campos-texto-botones);
    text-align: center;
	font-size: var(--tamaño-letra);

}
.youAreMember{
    margin-top: 20px;
    font-size: 15px;
	background-color: rgba(37, 37, 184, 0.45);
	color: white;
}
.button{
	height: var(--alto-campos-texto-botones);
    width: var(--ancho-campos-texto-botones);
    border-radius: var(--border-campos-texto-botones);
	font-size: var(--tamaño-letra);
	background-color:var(--color-boton);
	color: var(--color-letra-boton);

}
hr{
	margin: auto;
	width: 20%;
	height: 3px;
	background-color:white;
}
.div{
	height: 30px;
	width: 30px;
	background-color: black;
	border-radius: 50%;
}

 
.a{
	
    font-size: 18px;
	background-color: rgba(37, 37, 184, 0.45);
	color: white;}

/*login*/

.sectionLogin{
	background-image: url(IMG//Montanas-Rocosas-En-Canada-Lago-Louise-Y-Banff-f94e70f.webp);
	height: 100vmax;
	width: 100%;
	opacity: 0.9;
}
.formDatos{
	display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30p;
    height: auto;
	width: 100%;

}
.containerButton{
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 20px;
}
.registerText{
	margin-top: 20px;
    font-size: 20px;
	background-color: rgba(37, 37, 184, 0.45);
	color: white;
   
}
.buttonStar{
	height: var(--alto-campos-texto-botones);
    width: var(--ancho-campos-texto-botones);
    border-radius: var(--border-campos-texto-botones);
	font-size: var(--tamaño-letra);
	background-color: var(--color-boton);
	color: var(--color-letra-boton);

}
.startWithGoogle{
 margin-left: 5px;
}
.googleLogin{
	height: var(--alto-campos-texto-botones);
    width: var(--ancho-campos-texto-botones);
    border-radius: var(--border-campos-texto-botones);
    display: flex;
    align-items: center;
    justify-content: center; 
	
}
.imgGoogle{
	height: 30px;
    width: 30px;
	
}


@media only screen and (min-width:768px) and (max-width:900px){
	body {overflow-y:hidden!important;
	}
	
	:root {
		--alto-campos-texto-botones: 36px ;
		--ancho-campos-texto-botones: 40%;
		--border-campos-texto-botones:20px;
		--tamaño-letra:15px;
	}
	.imgLogo{
		height: 225px;
		width: 225px;
	}

	.texField{
		height: var(--alto-campos-texto-botones);
		width: var(--ancho-campos-texto-botones);
		border-radius: var(--border-campos-texto-botones);
		font-size:var(--tamaño-letra);
	}
    .button{
		height: var(--alto-campos-texto-botones);
		width: var(--ancho-campos-texto-botones);
		border-radius: var(--border-campos-texto-botones);
		font-size: var(--tamaño-letra);
		background-color: var(--color-boton);
		color: var(--color-letra-boton);
		}
	.buttonStar{
		height: var(--alto-campos-texto-botones);
		width: var(--ancho-campos-texto-botones);
		border-radius: var(--border-campos-texto-botones);
		font-size: var(--tamaño-letra);
		background-color: var(--color-boton);
		color: var(--color-letra-boton);
	
	}
	.imgGoogle{
		height: 30px;
		width: 40px;
	}

}

@media only screen and (min-width:1024px) and (max-width:1440px){

	:root {
		--alto-campos-texto-botones: 40px ;
		--ancho-campos-texto-botones: 30%;
		--border-campos-texto-botones:30px;
		--tamaño-letra:15px;
	}

	body {
		overflow-y:hidden!important;
	}
	.imgLogo{
		height: 235px;
		width: 235px;
	}
	.texField{
		height: var(--alto-campos-texto-botones);
		width: var(--ancho-campos-texto-botones);
		border-radius: var(--border-campos-texto-botones);
		font-size:var(--tamaño-letra);
	}
    .button{
		height: var(--alto-campos-texto-botones);
		width: var(--ancho-campos-texto-botones);
		border-radius: var(--border-campos-texto-botones);
		font-size: var(--tamaño-letra);
		background-color: var(--color-boton);
		color: var(--color-letra-boton);
		
	}
	.youAreMember{
		font-size: 20px;
	}

	.buttonStar{
		height: var(--alto-campos-texto-botones);
		width: var(--ancho-campos-texto-botones);
		border-radius: var(--border-campos-texto-botones);
		font-size: var(--tamaño-letra);
		background-color: var(--color-boton);
		color: var(--color-letra-boton);
	}
	.startWithGoogle{
		font-size: 16px;
	}
	.googleLogin{
		height: var(--alto-campos-texto-botones);
		width: var(--ancho-campos-texto-botones);
		border-radius: var(--border-campos-texto-botones);
		background-color: aliceblue;
	
	}
	.imgGoogle{
		height: 35px;
		width: 35px;
	}
}