*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
}
<<<<<<< Updated upstream
:root{
  --button-height:35px;
  --button-width:35%;
  --text-field-height:35px;
  --text-field-width:60%;
  --color-button:blue;
  --color-letters:white;
  --border-radius-text-field-and-button:20px;
  --size-letters-text-field:15px;
  --size-letters-button:15px;
=======
:root {
	--alto--campoTexto: 35px ;
	--ancho-campos-texto: 60%;
	--border-campos-texto-botones:15px;
	--ancho-botones:40%;
	--alto-botones:35px;
	--tamaño-letra:15px;
	--color-boton: blue;
	--color-letra-boton: white;
>>>>>>> Stashed changes
}

.register{
	background-image: url(IMG/Montanas-Rocosas-En-Canada-Lago-Louise-Y-Banff-f94e70f.webp);
	height: 100vmax;
	width: 100%;
	opacity: 0.9;
}

.imageDescription{
    display: flex;
    flex-direction: column;
    text-align: center;
}
.imgLogo{
    height: 230px;
    width: 230px;
    align-self: center;
    margin-bottom: -30px;
}
.Title{
  color:black;
  margin-bottom: 20px;
}
.Form{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15px;
    width: 100%;
}
.texField{
<<<<<<< Updated upstream
    height: var(--text-field-height);
    width: var(--text-field-width);
    margin: 6px;
    border-radius: var(--border-radius-text-field-and-button);
=======
	margin: 10px;
    height: var(--alto--campoTexto);
    width: var(--ancho-campos-texto);
    border-radius: var(--border-campos-texto-botones);
>>>>>>> Stashed changes
    text-align: center;
    font-size: var(--size-letters-text-field);
}

.starGoogle{
    font-size: 12px;
}
.youAreMember{
    background-color: rgba(29, 29, 144, 0.611);
    color: aliceblue;
    margin-top: 10px;
    font-size: 18px;
}
.a{
    font-size: 15px;
    background-color: rgba(29, 29, 144, 0.611);
    color: white;
}
.button{

	height: var(--button-height);
    width: var(--button-width);
    margin-top: 6px;
    border-radius: var(--border-radius-text-field-and-button);
	font-size: var(--tamaño-letra);
	background-color:var(--color-button);
	font-size: var(--size-letters-button);
    color: var( --color-letters);

}
#mailInSuso{
	font-size: 15px;
    background: aliceblue;
    color: red;
    width: 55%;
    text-align: center;
    margin-top: 0px;
}
.youAreMember{
<<<<<<< Updated upstream
    background-color: rgba(29, 29, 144, 0.611);
    color: aliceblue;
    margin-top: 10px;
=======
    margin-top: 20px;
    font-size: 15px;
	background-color: rgba(37, 37, 184, 0.45);
	color: white;
}
.button{
	height: var(--alto-botones);
    width: var(--ancho-botones);
    border-radius: var(--border-campos-texto-botones);
	font-size: var(--tamaño-letra);
	background-color:var(--color-boton);
	color: var(--color-letra-boton);

}
hr{
	margin: auto;
	width: 20%;
	height: 3px;
	background-color:white;
}
.div{
	height: 30px;
	width: 30px;
	background-color: black;
	border-radius: 50%;
}

 
.a{
	
>>>>>>> Stashed changes
    font-size: 18px;
}
.a{
    font-size: 15px;
    background-color: rgba(29, 29, 144, 0.611);
    color: white;
}
/*login*/


.sectionLogin{
    background-image: url(IMG/Montanas-Rocosas-En-Canada-Lago-Louise-Y-Banff-f94e70f.webp);
	height: 100vmax;
	width: 100%;
<<<<<<< Updated upstream
	opacity: 0.9; 
=======
	opacity: 0.9;
}
.formDatos{
	display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30p;
    height: auto;
	width: 100%;

}
.containerButton{
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 20px;
}
.registerText{
	margin-top: 20px;
    font-size: 20px;
	background-color: rgba(37, 37, 184, 0.45);
	color: white;
   
}
.buttonStar{
	height: var(--alto-botones);
    width: var(--ancho-botones);
    border-radius: var(--border-campos-texto-botones);
	font-size: var(--tamaño-letra);
	background-color: var(--color-boton);
	color: var(--color-letra-boton);

}
.startWithGoogle{
 margin-left: 5px;
}
.googleLogin{
	height: var(--alto--campoTexto);
    width: var(--ancho-campos-texto);
    border-radius: var(--border-campos-texto-botones);
>>>>>>> Stashed changes
    display: flex;
    flex-direction: column; 
    align-items: center;  

}

.googleLogin{
    display: flex;
    flex-direction: row;
    width: var(--button-width);
    border-radius: var(--border-radius-text-field-and-button);
    height: var(--button-height);
    justify-content: center;
    align-items: center;
    margin: 15px;
}
.googleimg{
    width: 17%;
    height: 25px;
    margin-left: 7px;
}
.notAccount{
    background-color: rgba(29, 29, 144, 0.611);
    color: white;
}
#EmailInUse{
    background-color: aliceblue;
    color: red;
    font-size: large;
}
#gmailNotFound{
    background-color: aliceblue;
    color: red;
    font-size: large;
}
#invalidPassword{
    background-color: aliceblue;
    color: red;
    font-size: large;
}

@media only screen and (min-width:768px) and (max-width:900px){
<<<<<<< Updated upstream
    :root{
        --button-height: 35px;
        --button-width: 30%;
        --text-field-height: 35px;
        --text-field-width: 40%;
        --color-button: blue;
        --color-letters: white;
        --border-radius-text-field-and-button: 25px;
        --size-letters-text-field: 15px;
        --size-letters-button: 13px;

      }
    .imgLogo{
        height: 235px;
        width: 235px;
    }
    .Title{
        font-size: 25px;
    }
    .texField{
        height: var(--text-field-height);
        width: var(--text-field-width);
        border-radius: var(--border-radius-text-field-and-button);
        font-size: var(--size-letters-text-field);
    }
    .button{
        height: var(--button-height);
        width: var(--button-width);
        border-radius: var(--border-radius-text-field-and-button);
        background-color:var(--color-button);
        color: var(--color-letters);
        font-size: var(--size-letters-button);
    }
    .youAreMember{
        font-size: 18px;
    }
    .a{
        font-size: 17px;
        margin-left: 5px;
    }
    .notAccount{
      font-size: 16px;
    }
    .googleimg{
        width: 16%;
        height: 20px;
        margin-right: 5px;
    }
    .starGoogle{
        font-size: 12px;
    }
=======
	body {
		overflow-y:hidden!important;
	}
	
	:root {
		--alto--campoTexto: 36px ;
		--ancho-campos-texto: 40%;
		--border-campos-texto-botones:20px;
		--ancho-botones:20%;
		--alto-botones: 36px;
		--tamaño-letra:15px;
	}
	.imgLogo{
		height: 225px;
		width: 225px;
	}

	.texField{
		height: var(--alto--campoTexto);
		width: var(--ancho-campos-texto);
		border-radius: var(--border-campos-texto-botones);
		font-size:var(--tamaño-letra);
	}
	#mailInSuso{
		width: 35%;
		font-size: 13px;
	}
    .button{
		height: var(--alto-botones);
		width: var(	--ancho-botones);
		border-radius: var(--border-campos-texto-botones);
		font-size: var(--tamaño-letra);
		background-color: var(--color-boton);
		color: var(--color-letra-boton);
		}
	.buttonStar{
		height: var(--alto-botones);
		width: var(--ancho-botones);
		border-radius: var(--border-campos-texto-botones);
		font-size: var(--tamaño-letra);
		background-color: var(--color-boton);
		color: var(--color-letra-boton);
	
	}
	.imgGoogle{
		height: 30px;
		width: 40px;
	}
>>>>>>> Stashed changes

    #EmailInUse{  
        font-size: large;
    }
    #gmailNotFound{
        font-size: large;
    }
    #invalidPassword{
        font-size: large;
    }
    
    
}
@media only screen and (min-width:1000px) and (max-width:1024px){
    body {
		overflow-y:hidden!important;
	}
	
    :root{
        --button-height: 30px;
        --button-width: 20%;
        --text-field-height: 30px;
        --text-field-width: 30%;
        --color-button: blue;
        --color-letters: white;
        --border-radius-text-field-and-button: 25px;
        --size-letters-text-field: 15px;
        --size-letters-button: 16px;

      }
    .texField{
        height: var(--text-field-height);
        width: var(--text-field-width);
        border-radius: var(--border-radius-text-field-and-button);
        font-size: var(--size-letters-text-field);
    }
    .button{
        height: var(--button-height);
        width: var(--button-width);
        border-radius: var(--border-radius-text-field-and-button);
        background-color:var(--color-button);
        color: var(--color-letters);
        font-size: var(--size-letters-button);
    }
    .googleimg{
        width: 15%;
        height: 25px;
    }
    .starGoogle{
        font-size: 15px;
        margin-left: 5px;
    }
    .notAccount{
       font-size: 17px;
    }
    .a{
        font-size: 16px;
        margin-left: 5px;
    } 
    #EmailInUse{  
        font-size: large;
    }
    #gmailNotFound{
        font-size: large;
    }
    #invalidPassword{
        font-size: large;
    }
   
}

@media only screen and (min-width:1024px) and (max-width:1440px){
<<<<<<< Updated upstream
    body {
		overflow-y:hidden!important;
	}
=======

	:root {
		--alto--campoTexto: 40px ;
		--ancho-campos-texto: 30%;
		--ancho-botones:20%;
		--alto-botones:40px;
		--border-campos-texto-botones:30px;
		--tamaño-letra:15px;
	}

	body {
		overflow-y:hidden!important;
	}
	.imgLogo{
		height: 235px;
		width: 235px;
	}
	.texField{
		height: var(--alto--campoTexto);
		width: var(--ancho-campos-texto);
		border-radius: var(--border-campos-texto-botones);
		font-size:var(--tamaño-letra);
	}
	#mailInSuso{
		width: 28%;
	}
    .button{
		height: var(--alto-botones);
		width: var(--ancho-botones);
		border-radius: var(--border-campos-texto-botones);
		font-size: var(--tamaño-letra);
		background-color: var(--color-boton);
		color: var(--color-letra-boton);
		
	}
	.youAreMember{
		font-size: 20px;
	}

	.buttonStar{
		height: var(--alto-botones);
		width: var(--ancho-botones);
		border-radius: var(--border-campos-texto-botones);
		font-size: var(--tamaño-letra);
		background-color: var(--color-boton);
		color: var(--color-letra-boton);
	}
	.startWithGoogle{
		font-size: 16px;
	}
	.googleLogin{
		height: var(--alto--campoTexto);
		width: var(--ancho-campos-texto);
		border-radius: var(--border-campos-texto-botones);
		background-color: aliceblue;
>>>>>>> Stashed changes
	
    :root{
        --button-height: 35px;
        --button-width: 16%;
        --text-field-height: 35px;
        --text-field-width: 25%;
        --color-button: blue;
        --color-letters: white;
        --border-radius-text-field-and-button: 25px;
        --size-letters-text-field: 15px;
        --size-letters-button: 16px;

      }
    .texField{
        height: var(--text-field-height);
        width: var(--text-field-width);
        border-radius: var(--border-radius-text-field-and-button);
        font-size: var(--size-letters-text-field);
    }
    .button{
        height: var(--button-height);
        width: var(--button-width);
        border-radius: var(--border-radius-text-field-and-button);
        background-color:var(--color-button);
        color: var(--color-letters);
        font-size: var(--size-letters-button);
    }
    .googleimg{
        width: 15%;
        height: 25px;
    }
    .starGoogle{
        font-size: 15px;
        margin-left: 5px;
    }
    .notAccount{
       font-size: 17px;
    }
    .a{
        font-size: 16px;
        margin-left: 5px;
    }
    #EmailInUse{  
        font-size: large;
    }
    #gmailNotFound{
        font-size: large;
    }
    #invalidPassword{
        font-size: large;
    }
}