*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
}
:root{
  --button-height:35px;
  --button-width:35%;
  --text-field-height:35px;
  --text-field-width:60%;
  --color-button:blue;
  --color-letters:white;
  --border-radius-text-field-and-button:20px;
  --size-letters-text-field:15px;
  --size-letters-button:15px;
}

.register{
	background-image: url(IMG/Montanas-Rocosas-En-Canada-Lago-Louise-Y-Banff-f94e70f.webp);
	height: 100vmax;
	width: 100%;
	opacity: 0.9;
}

.imageDescription{
    display: flex;
    flex-direction: column;
    text-align: center;
}
.imgLogo{
    height: 230px;
    width: 230px;
    align-self: center;
    margin-bottom: -30px;
}
.Title{
  color:black;
  margin-bottom: 20px;
}
.Form{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15px;
    width: 100%;
}
.texField{
    height: var(--text-field-height);
    width: var(--text-field-width);
    margin: 6px;
    border-radius: var(--border-radius-text-field-and-button);
    text-align: center;
    font-size: var(--size-letters-text-field);
}

.starGoogle{
    font-size: 12px;
}
.youAreMember{
    background-color: rgba(29, 29, 144, 0.611);
    color: aliceblue;
    margin-top: 10px;
    font-size: 18px;
}
.a{
    font-size: 15px;
    background-color: rgba(29, 29, 144, 0.611);
    color: white;
}
.button{

	height: var(--button-height);
    width: var(--button-width);
    margin-top: 6px;
    border-radius: var(--border-radius-text-field-and-button);
	font-size: var(--tamaño-letra);
	background-color:var(--color-button);
	font-size: var(--size-letters-button);
    color: var( --color-letters);

}
.youAreMember{
    background-color: rgba(29, 29, 144, 0.611);
    color: aliceblue;
    margin-top: 10px;
    font-size: 18px;
}
.a{
    font-size: 15px;
    background-color: rgba(29, 29, 144, 0.611);
    color: white;
}
/*login*/


.sectionLogin{
    background-image: url(IMG/Montanas-Rocosas-En-Canada-Lago-Louise-Y-Banff-f94e70f.webp);
	height: 100vmax;
	width: 100%;
	opacity: 0.9; 
    display: flex;
    flex-direction: column; 
    align-items: center;  

}

.googleLogin{
    display: flex;
    flex-direction: row;
    width: var(--button-width);
    border-radius: var(--border-radius-text-field-and-button);
    height: var(--button-height);
    justify-content: center;
    align-items: center;
    margin: 15px;
}
.googleimg{
    width: 17%;
    height: 25px;
    margin-left: 7px;
}
.notAccount{
    background-color: rgba(29, 29, 144, 0.611);
    color: white;
}
#EmailInUse{
    background-color: aliceblue;
    color: red;
    font-size: large;
}
#gmailNotFound{
    background-color: aliceblue;
    color: red;
    font-size: large;
}
#invalidPassword{
    background-color: aliceblue;
    color: red;
    font-size: large;
}

@media only screen and (min-width:768px) and (max-width:900px){
    :root{
        --button-height: 35px;
        --button-width: 30%;
        --text-field-height: 35px;
        --text-field-width: 40%;
        --color-button: blue;
        --color-letters: white;
        --border-radius-text-field-and-button: 25px;
        --size-letters-text-field: 15px;
        --size-letters-button: 13px;

      }
    .imgLogo{
        height: 235px;
        width: 235px;
    }
    .Title{
        font-size: 25px;
    }
    .texField{
        height: var(--text-field-height);
        width: var(--text-field-width);
        border-radius: var(--border-radius-text-field-and-button);
        font-size: var(--size-letters-text-field);
    }
    .button{
        height: var(--button-height);
        width: var(--button-width);
        border-radius: var(--border-radius-text-field-and-button);
        background-color:var(--color-button);
        color: var(--color-letters);
        font-size: var(--size-letters-button);
    }
    .youAreMember{
        font-size: 18px;
    }
    .a{
        font-size: 17px;
        margin-left: 5px;
    }
    .notAccount{
      font-size: 16px;
    }
    .googleimg{
        width: 16%;
        height: 20px;
        margin-right: 5px;
    }
    .starGoogle{
        font-size: 12px;
    }

    #EmailInUse{  
        font-size: large;
    }
    #gmailNotFound{
        font-size: large;
    }
    #invalidPassword{
        font-size: large;
    }
    
    
}
@media only screen and (min-width:1000px) and (max-width:1024px){
    body {
		overflow-y:hidden!important;
	}
	
    :root{
        --button-height: 30px;
        --button-width: 20%;
        --text-field-height: 30px;
        --text-field-width: 30%;
        --color-button: blue;
        --color-letters: white;
        --border-radius-text-field-and-button: 25px;
        --size-letters-text-field: 15px;
        --size-letters-button: 16px;

      }
    .texField{
        height: var(--text-field-height);
        width: var(--text-field-width);
        border-radius: var(--border-radius-text-field-and-button);
        font-size: var(--size-letters-text-field);
    }
    .button{
        height: var(--button-height);
        width: var(--button-width);
        border-radius: var(--border-radius-text-field-and-button);
        background-color:var(--color-button);
        color: var(--color-letters);
        font-size: var(--size-letters-button);
    }
    .googleimg{
        width: 15%;
        height: 25px;
    }
    .starGoogle{
        font-size: 15px;
        margin-left: 5px;
    }
    .notAccount{
       font-size: 17px;
    }
    .a{
        font-size: 16px;
        margin-left: 5px;
    } 
    #EmailInUse{  
        font-size: large;
    }
    #gmailNotFound{
        font-size: large;
    }
    #invalidPassword{
        font-size: large;
    }
   
}

@media only screen and (min-width:1024px) and (max-width:1440px){
    body {
		overflow-y:hidden!important;
	}
	
    :root{
        --button-height: 35px;
        --button-width: 16%;
        --text-field-height: 35px;
        --text-field-width: 25%;
        --color-button: blue;
        --color-letters: white;
        --border-radius-text-field-and-button: 25px;
        --size-letters-text-field: 15px;
        --size-letters-button: 16px;

      }
    .texField{
        height: var(--text-field-height);
        width: var(--text-field-width);
        border-radius: var(--border-radius-text-field-and-button);
        font-size: var(--size-letters-text-field);
    }
    .button{
        height: var(--button-height);
        width: var(--button-width);
        border-radius: var(--border-radius-text-field-and-button);
        background-color:var(--color-button);
        color: var(--color-letters);
        font-size: var(--size-letters-button);
    }
    .googleimg{
        width: 15%;
        height: 25px;
    }
    .starGoogle{
        font-size: 15px;
        margin-left: 5px;
    }
    .notAccount{
       font-size: 17px;
    }
    .a{
        font-size: 16px;
        margin-left: 5px;
    }
    #EmailInUse{  
        font-size: large;
    }
    #gmailNotFound{
        font-size: large;
    }
    #invalidPassword{
        font-size: large;
    }
}